body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.nav a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: cyan;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.box {
    background: #020617;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 6px;
}

button {
    margin-top: 8px;
    padding: 6px 20px;
    background: lime;
    border: none;
    cursor: pointer;
}

table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
}
